/**/bin/
/**/obj/
/**/packages/
riderModule.iml
/_ReSharper.Caches/
/**/.idea/
Development.env
.env
.vsidx
/.vs/EfiritPro.Retail.ProductModule/FileContentIndex
/.vs/EfiritPro.Retail.ProductModule/DesignTimeBuild/.dtbcache.v2
/.vs/EfiritPro.Retail.ProductModule/v17/.suo
/.vs/EfiritPro.Retail.ProductModule/v17/DocumentLayout.json
/.vs/ProjectEvaluation/efiritpro.retail.productmodule.metadata.v8.bin
/.vs/ProjectEvaluation/efiritpro.retail.productmodule.projects.v8.bin
/.vs/EfiritPro.Retail.ProductModule/v17/.futdcache.v2
/.vs/ProjectEvaluation/efiritpro.retail.productmodule.strings.v8.bin
/.vs
